# bacalhau systemd service unit file
[Unit]
Description=bacalhau, a Compute over Data framework for public, transparent, and optionally verifiable computation
After=network.target

[Service]
Type=simple
User=bacalhau
Group=bacalhau
EnvironmentFile=/etc/default/bacalhau
ExecStart={{ bacalhau_install_dir }}/bacalhau serve {% if ipfs_enabled|default(false) %}--ipfs-connect ${IPFS_CONNECT}{% endif %}

Restart=always

[Install]
WantedBy=multi-user.target
